<div
  data-svg-wrapper
  class="fixed top-[-805px] left-[-805px] select-none z-[-1000]"
>
  <svg
    width="1610"
    height="1610"
    viewBox="0 0 1610 1610"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_156_346)">
      <path
        d="M150 805C150 443.254 443.254 150 805 150V150C1166.75 150 1460 443.254 1460 805V805C1460 1166.75 1166.75 1460 805 1460V1460C443.254 1460 150 1166.75 150 805V805Z"
        fill="url(#paint0_radial_156_346)"
        fill-opacity="0.3"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_156_346"
        x="0"
        y="0"
        width="1610"
        height="1610"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="75"
          result="effect1_foregroundBlur_156_346"></feGaussianBlur>
      </filter>
      <radialGradient
        id="paint0_radial_156_346"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(805 805) rotate(90) scale(655)"
      >
        <stop offset="0.57" stop-color="#3B64AC"></stop>
        <stop offset="1" stop-opacity="0"></stop>
      </radialGradient>
    </defs>
  </svg>
</div>
