<div
  class="max-w-2xl flex-col justify-start items-center gap-4 sm:gap-8 inline-flex"
>
  <div class="self-stretch flex-col justify-start items-center flex">
    <div
      class="self-stretch text-center text-white text-6xl sm:text-8xl font-black font-geist"
    >
      Inovación
    </div>
    <div
      class="self-stretch text-center text-transparent text-6xl sm:text-8xl font-black font-playfair-display bg-linear-to-r from-primary from-0% via-white via-40% via-white via-60% to-secondary to-100% bg-clip-text"
    >
      a Tu Medida
    </div>
  </div>
  <div
    class="self-stretch text-center text-zinc-400 text-xl sm:text-2xl font-medium font-inter"
  >
    Desarrollamos software a la medida que impulsa tu negocio, con un enfoque
    ético y compromiso real con cada cliente.
  </div>
</div>
