<div
  class="w-[595px] h-[258px] flex-col justify-start items-center gap-8 inline-flex"
>
  <div
    class="self-stretch h-[198px] py-[3px] flex-col justify-start items-center flex"
  >
    <div
      class="self-stretch text-center text-white text-8xl font-black leading-[96px] font-geist"
    >
      Lorem
    </div>
    <div
      class="self-stretch text-center text-transparent text-8xl font-black font-playfair-display leading-[96px] bg-linear-to-r from-primary from-0% via-white via-40% via-white via-60% to-secondary to-100% bg-clip-text"
    >
      Ipsum Dolor
    </div>
  </div>
  <div
    class="self-stretch text-center text-zinc-400 text-xl font-medium font-inter leading-7"
  >
    Lorem ipsum dolor sit amet consectetur.
  </div>
</div>
