<div
  class="w-[595px] h-[258px] flex-col justify-start items-center gap-8 inline-flex"
>
  <div
    class="self-stretch h-[198px] py-[3px] flex-col justify-start items-center flex"
  >
    <div
      class="self-stretch text-center text-white text-8xl font-black leading-[96px] font-geist"
    >
      Lorem
    </div>
    <div
      class="self-stretch text-center text-[#37a0c9] text-8xl font-black font-playfair-display leading-[96px]"
    >
      Ipsum Dolor
    </div>
  </div>
  <div
    class="self-stretch text-center text-zinc-400 text-xl font-medium font-['Inter'] leading-7"
  >
    Lorem ipsum dolor sit amet consectetur.
  </div>
</div>
