<nav
  class="h-14 bg-black/0 backdrop-blur-blur justify-between items-center inline-flex"
>
  <div
    class="grow shrink basis-0 h-14 px-8 py-2 justify-between items-center flex overflow-hidden"
  >
    <div class="justify-start items-center gap-6 flex">
      <div data-svg-wrapper>
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.0313 20.5429C34.0313 14.8291 28.5558 14.8291 23.5015 14.8291V32.3886H34.0313V20.5429Z"
            fill="white"></path>
          <path
            d="M23.4958 14.8291C23.1449 20.4626 18.4648 24.923 12.7428 24.923C10.3273 24.923 8.09737 24.1281 6.30048 22.7856C7.00276 19.7623 10.073 14.8305 23.4958 14.8291Z"
            fill="#37A0C9"></path>
          <path
            d="M13.4631 32.1098C9.39227 32.1098 6.09222 28.8342 6.09222 24.7934C6.09222 24.3753 6.09222 23.5435 6.36424 22.531C6.34108 22.6172 6.31989 22.7021 6.30051 22.7856C8.0974 24.1281 10.3273 24.923 12.7428 24.923C18.4648 24.923 23.1449 20.4626 23.4958 14.8291C23.4977 14.8291 23.4996 14.8291 23.5015 14.8291C23.5015 30.5072 17.9558 32.1098 13.4631 32.1098Z"
            fill="white"></path>
          <path
            d="M6.3005 22.7855C6.3005 22.7855 6.30051 22.7855 6.3005 22.7855C7.00278 19.7623 10.073 14.8305 23.4958 14.8291C23.5098 14.6042 23.5169 14.3774 23.5169 14.149C23.5169 8.19868 18.6932 3.375 12.7428 3.375C6.79247 3.375 1.96875 8.19868 1.96875 14.149C1.96875 17.6838 3.67102 20.821 6.3005 22.7855Z"
            fill="white"></path>
        </svg>
      </div>
      <div class="text-center text-white text-sm font-semibold leading-tight">
        Soluciones
      </div>
      <div class="text-center text-white text-sm font-semibold leading-tight">
        Metodología
      </div>
      <div class="text-center text-white text-sm font-semibold leading-tight">
        Industria
      </div>
      <div class="text-center text-white text-sm font-semibold leading-tight">
        Nosotros
      </div>
    </div>
    <div class="justify-end items-center gap-6 flex">
      <div data-svg-wrapper class="relative">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.6667 5.33337C11.7275 5.33337 12.745 5.7548 13.4951 6.50495C14.2452 7.25509 14.6667 8.27251 14.6667 9.33337V14H12V9.33337C12 8.97975 11.8595 8.64061 11.6095 8.39057C11.3594 8.14052 11.0203 8.00004 10.6667 8.00004C10.313 8.00004 9.97391 8.14052 9.72386 8.39057C9.47381 8.64061 9.33334 8.97975 9.33334 9.33337V14H6.66667V9.33337C6.66667 8.27251 7.0881 7.25509 7.83824 6.50495C8.58839 5.7548 9.60581 5.33337 10.6667 5.33337Z"
            stroke="white"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M3.99999 6H1.33333V14H3.99999V6Z"
            stroke="white"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.66666 4.00004C3.40304 4.00004 3.99999 3.40309 3.99999 2.66671C3.99999 1.93033 3.40304 1.33337 2.66666 1.33337C1.93028 1.33337 1.33333 1.93033 1.33333 2.66671C1.33333 3.40309 1.93028 4.00004 2.66666 4.00004Z"
            stroke="white"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
      <div class="text-center text-white text-sm font-semibold leading-tight">
        Contacto
      </div>
    </div>
  </div>
</nav>
