<div
  class="w-[368px] h-[324px] p-8 bg-black/40 rounded-xl inset-shadow-glass flex-col justify-start items-start gap-2 inline-flex overflow-hidden"
>
  <div class="self-stretch justify-start items-center gap-2.5 inline-flex">
    <div data-svg-wrapper class="relative">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.33331 28V18.6667"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5.33331 13.3333V4"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M16 28V16"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M16 10.6667V4"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M26.6667 28V21.3333"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M26.6667 16V4"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M1.33331 18.6667H9.33331"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 10.6667H20"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M22.6667 21.3333H30.6667"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <div
      class="grow shrink basis-0 text-white text-base font-bold font-['Inter'] leading-normal"
    >
      SRS
    </div>
  </div>
  <div
    class="self-stretch text-zinc-400 text-base font-normal font-['Inter'] leading-normal"
  >
    Lorem ipsum dolor sit amet consectetur. Sem orci et commodo eu. Est quam
    vitae at netus eget faucibus imperdiet at curabitur. <br /><br />Aliquam
    mollis ut sem semper mi. Enim non morbi massa urna a tempor semper.
  </div>
</div>
