---
import "@fontsource/inter";
import "@fontsource-variable/geist";
import "@fontsource-variable/playfair-display";
import BlurSecondary from "../components/blur/BlurSecondary.astro";
import BlurPrimary from "../components/blur/BlurPrimary.astro";
import MouseMoveEffect from "../components/MouseMoveEffect";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Appelsin</title>
  </head>
  <body class="w-full h-full bg-black">
    <slot />
    <MouseMoveEffect client:load />
    <BlurPrimary />
    <BlurSecondary />
  </body>
</html>
