---
import "@fontsource-variable/geist";
import "@fontsource-variable/playfair-display";
import "@fontsource/inter";
import BlurSecondary from "../components/blur/BlurSecondary.astro";
import BlurPrimary from "../components/blur/BlurPrimary.astro";
import MouseMoveEffect from "../components/MouseMoveEffect";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Appelsin</title>
  </head>
  <body class="bg-black">
    <slot class="z-10" />
    <MouseMoveEffect client:load />
    <!-- <BlurSecondary /> -->
    <!-- <BlurPrimary /> -->
  </body>
</html>

<style is:global>
  .font-geist {
    font-family: "Geist", sans-serif;
  }
  .font-playfair-display {
    font-family: "Playfair Display", serif;
  }
</style>
