---
const { id } = Astro.props;
---

<div
  id={id}
  class="inline-flex min-h-dvh w-full flex-col items-center justify-center gap-16 border-b-2 border-zinc-800 px-8 py-32 sm:px-28"
>
  <slot />
</div>
