---
const { id } = Astro.props;
---

<div
  id={id}
  class="min-h-dvh w-full px-16 sm:px-28 py-32 border-b-2 border-zinc-800 flex-col justify-center items-center gap-16 inline-flex"
>
  <slot />
</div>
